.containerNav {
  width: 100%;
  padding: 1rem;
  background-color: #8587ec;
  height: 70px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  color: #fff;
  font-size: 1.2em;
}

a {
  text-decoration: none !important;
}

.navbar a {
  color: #fff !important;
}

.boxlist {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.boxlist li {
  list-style: none;
}
