
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  height: 100vh !important;
}

.big-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem;
}

.container-calc {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  border: 1px solid #fd9503;
  border-radius: 1rem;
  padding: 1rem;
}

.render {
  width: 100%;
  background-color: #858694;
  height: 40px;
  color: #fff;
  padding: 1rem;
}

/* p {
  text-align: right;
  margin-right: 1rem;
} */

.row1,
.row2,
.row3,
.row4,
.row5 {
  display: flex;
  width: 100%;
  height: 40px;
}

.row1 :last-child,
.row2 :last-child,
.row3 :last-child,
.row4 :last-child,
.row5 :last-child {
  background-color: #f5913e;
  border: 2px solid #c9b7b7;
}

.row1 input,
.row2 input,
.row3 input,
.row4 input {
  width: 25%;

  /* border: 0.2px solid #858694; */
}

.row5 input:nth-child(1) {
  width: 50%;
}

.row5 input:nth-child(2) {
  width: 25%;
}

.row5 input:nth-child(3) {
  width: 25%;
  background-color: #f5913e;
}

.containerQuote {
  width: 50%;
  margin: 0 auto;
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;

}
.containerImage {
  width: 100%;
  background-image: url('./images/black.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.quote {
  border: 1px solid  #fd9503;
  border-radius: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  padding: 3rem;
  width: 100%;
  background-color: #fff;
}

.quote span {
  display: block;
}

.btna {
  margin: 0 auto;
  background-color: #c9b7b7;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
  align-self: center;
}

.btn:hover {
  background-color: #fd9503;
}

.btn {
  width: fit-content;
}

.imgCalc{
  width: 100%;
  height: auto;
}