.App {
  text-align: center;
}

body {
  background-color: antiquewhite;
  padding: 7rem;
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.render {
  width: 60%;
  background-color: #858694;
  height: 40px;
  color: #fff;
}

p {
  text-align: right;
  margin-right: 1rem;
}

.row1,
.row2,
.row3,
.row4,
.row5 {
  display: flex;
  width: 60%;
  height: 40px;
}

.row1 :last-child,
.row2 :last-child,
.row3 :last-child,
.row4 :last-child,
.row5 :last-child {
  background-color: #f5913e;
}

.row1 input,
.row2 input,
.row3 input,
.row4 input {
  width: 25%;

  /* border: 0.2px solid #858694; */
}

.row5 input:nth-child(1) {
  width: 50%;
}

.row5 input:nth-child(2) {
  width: 25%;
}

.row5 input:nth-child(3) {
  width: 25%;
  background-color: #f5913e;
}
